{% extends 'whiskeyblog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <h4>Posted by: {{ post.author }}</h4>
            <p>{{ post.text|safe|linebreaks }}</p>
        </div>
    {% endfor %}
    <nav>
      <ul class="pagination">
        {% if posts.has_previous %}
            <li>
              <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
<!--             <li>
              <a href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}
              </a>
            </li> -->
        {% endif %}
        <li class="active"><a href="#">{{ posts.number }}</a></li>
        {% if posts.has_next %}
<!--         <li>
          <a href="?page={{ posts.next_page_number }}" aria-label="Next">{{ posts.next_page_number }}
          </a>
        </li> -->
        <li>
          <a href="?page={{ posts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
{% endblock %}
